body {
    background-color: black;
    
}
                /* Style the headers */
                h1 {
                    text-shadow: 1px 2px 3px crimson;
                    text-align: center;
                    font-size: 60px;
                    color: white;
                }

                h2 {
                    font-size: 50px;
                    font-family: Harlow Solid;
                    text-decoration: underline;
                }

                h3 {
                    font-size: 40px;
                    color:white;
                    text-shadow: 1px 2px 3px red;
                }

                /* Style the top navigation bar */

.navbar-nav {
    gap: 6%;
    font-size: 20px;
    list-style: none;
    color: white;
    background-color: #757373;
    border: solid;
    border-color: darkred;
    border-radius: 20%;
    width: 100%;
    margin: 1%;
    padding-left: 30px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
}

                    /* Change color on hover */
    .navbar-nav a:hover {
        background-color: crimson;
        color: white;
        border: 1px solid white;
        border-radius: 10%;
    }

footer {
    color: white;
    text-shadow: 1px 2px 2px crimson;
    font-size: 125%;
    text-align: center;
    border: solid;
    border-color: darkred;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 20%;
    background-color: #757373;
    padding-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 1%;
}
                


                p {
                    font-size: 20px;
                    color:white;
                    text-align: center;
                    font-family: monospace;
                }

                    a:hover {
                        color: white;
                    }
                    /* style the containers */

                .container1-fluid {
                    position: center;
                    display: grid;
                    max-height: 450px;
                    align-content: center;
                    background-color: black;
                    padding-top: 200px;
                    padding-bottom: 20px;
                    margin: 15px;
                }

                    .container1-fluid > div {
                        background-color: darkgrey;
                        text-align: center;
                        font-size: 30px;
                        border: 2px solid white;
                        padding-top: 50px;
                    }

                    img {

                        border-radius: 5%;
                    }

h4 {
    font-size: 15px;
    font-size: 15px;
    color: white;
}

.card {

    background-color: #757373;
    border-color: red;
 
}
.card-title {

    font-size:20px;
    text-shadow: 1px 2px darkred;
    text-decoration: underline;
    color: white;
}
.card-text {
    text-shadow: 1px 2px black;
}

.text-muted {
    font-size: 15px;
    text-shadow: 2px 2px black;
}